#bunny-header{
    width: 100%;
    height: auto;
    background-color: transparent;
    position: fixed;
    top: 0px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px var(--h-p-rl);
}

#bunny-header .header-logo{
    max-width: 250px;
}

#bunny-header #header-bg{
    background-image: url(../../assets/image/header/Header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px 8vw;
    padding-bottom: 20px;
}

#bunny-header #header-menu{
    color: white;
    font-size: 16px;
    font-weight: 600;
}

#bunny-header #social-menu{
    color: white;
    margin-left: 25px;
}


@media screen and (max-width:970px) {
    #bunny-header #social-menu{
        display: none;
    }
    #bunny-header #header-menu{
        display: none;
    }
    #header-bg{
        justify-content: center;
    }
    #header-split{
        display: none;
    }
}